Extract Grade from Inspector

In [1]:
import pandas as pd
from pandas import json_normalize
import json

read json file

In [2]:
with open('output.json', 'r') as j:
    content = json.loads(j.read())

change header names

In [3]:
df = pd.json_normalize(content)
df.rename(columns={'assignment.isOverdue': 'overdue', 'assignment.assignmentName': 'name',
                   'assignment.courseName': 'course', 'assignment.assignmentType': 'type',
                   'assignment.progressState': 'progress', 'assignment.isComplete': 'complete',
                   'assignment.assignmentUrl':'url-a', 'assignment.courseUrl': 'url-c',
                   'assignment.dueAtTime': 'due-time', 'assignment.grade': 'grade', 'assignment.gradingWeight': 'weight', 'assignment.gradedAtTime': 'graded-time', 'event.eventTitle': 'event-title', 'event.courseName': 'event-name', 'event.eventUrl': 'url-e', 'event.courseUrl': 'url-c-e', 'event.startTime': 'event-start', 'event.endTime': 'event-end'}, inplace=True)
# df.columns

extract needed columns

In [4]:
df = df[['name', 'grade', 'weight', 'graded-time']]
df.head()

                   name  grade  weight               graded-time
0  1.304 Multiple files    1.0     0.0  2021-04-20T01:03:54.607Z
1          2.209 P5.dom    1.0     0.0  2021-04-26T12:04:49.617Z
2    2.301 Case study 1    NaN     0.0                       NaN
3    3.301 Case study 2    NaN     0.0                       NaN
4    4.301 Case study 3    NaN     0.0                       NaN

different ways to view

In [5]:
# change name to your assignment name to view grade
df[df.name=='Sudoku assignment [001]'].grade

30   NaN
Name: grade, dtype: float64

In [6]:
W = '\033[0m';R = '\033[31m';G = '\033[32m';Y = '\033[33m';B = '\033[34m';P = '\033[35m'

Extract by index (because I know the index by heart now)

In [7]:
# change index to your assignment indices to view
df.iloc[[30, 31, 32, 33]]

,name,grade,weight,graded-time
30,Sudoku assignment [001],NaN,0.40000,NaN
31,Mid-term programming assignment [001],NaN,0.50000,NaN
32,Coursework 1.2 Submission of the individual re...,NaN,0.09999,NaN
33,Coursework 1.1 A single bundled team assignmen...,NaN,0.20001,NaN